# dependencies
node_modules

# output
out
dist
dist-ssr
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# dotenv environment variable files
.env
.env.*.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# editors
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# misc
*.local
